.name_web{
    height: 12vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name_site{
    font-size: 28px;
    font-weight: 600; 
    color: #4c7daf;
}



.tabs{
    height: 68vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item_nav{
    margin: 8px;
    padding: 8px;
}

.dashboard-button {
    margin-top: 8px;
    margin-bottom: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white; /* Background color similar to the image */
    border: none;
    border-radius: 20px; /* Rounded edges */
    padding: 10px 20px;
    color: #969696;
    font-size: 18px;
    font-weight: 550;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dashboard-button .icon {
    margin-right: 10px;
    display: inline-block;
}

.dashboard-button:hover {
    color: white;
    background-color: #4c7daf; /* Slightly lighter on hover */
}



.logout{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_logout{
    display: flex;
}

.text_logout{
    color: #d19d9b;
    font-size: 18px;
    font-weight: 550;
    margin-left: 8px;
}