.name_web{
    height: 12vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name_site{
    font-size: 32px;
    color: rgb(34, 48, 248);
}



.tabs{
    height: 68vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item_nav{
    margin: 8px;
    padding: 8px;
}

.dashboard-button {
    display: flex;
    align-items: center;
    background-color: white; /* Background color similar to the image */
    border: none;
    border-radius: 20px; /* Rounded edges */
    padding: 10px 20px;
    color: #c1c1c1;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dashboard-button .icon {
    margin-right: 10px;
    display: inline-block;
}

.dashboard-button:hover {
    background-color: #5a5e9b; /* Slightly lighter on hover */
}



.logout{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}