@charset "utf-8";
/* CSS Document */
head{
    height: 10vh;
}

.toolbar{
    background: #4c7daf;
    height: 45px;
    width: 100%;
}

.toolbar {

}
.toolbar a.back {
    width: 5%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #ffffff;
}
.toolbar a.back:hover {
    background: #EEE2E2;
    color: #4c7daf;
}
.toolbar a.left {
    width: 8.5%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #ffffff;
}
.toolbar a.left:hover {
    background: #EEE2E2;
    color: #4c7daf;
}

.toolbar a.right {
    width: 8.5%;
    height: 100%;
    float: right;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #ffffff;
}
.toolbar a.right:hover {
    background: #EEE2E2;
    color: #4c7daf;
}
.toolbar a.center {
    width: 10%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #ffffff;
}
.toolbar a.center:hover {
    background: #EEE2E2;
    color: #4c7daf;
}



body{
    justify-content: space-around;
    align-items: center;
    background: #efefef;
}

.box{
    margin-top: 50px;
    width: 22%;
    float: left;
}

.box ul a{
    text-decoration: none;
    color: #000000;
}

.box ul:hover li{
    /*opacity: 0.2;*/
}

.box ul li {
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow:  0 5px 25px rgba(0,0,0,.1);
    transition: transform 0.5s;

}
.box ul li:hover{
    transform: scale(1.1);
    z-index: 100;
    background: #fa952f;
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    color: #fff;
    /*opacity: 1;*/
}
.box ul li span{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #fa952f;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
}
.box ul li:hover span{
    background: #fff;
    color: #fa952f;

}

.box ul.btn_add_test{
    margin-top: -10px;
    width: 275px;
}
