<!DOCTYPE HTML>
<html>
<head>
    <title>StudyMates</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" href="css/topMenu/topMenu.css" rel="stylesheet" />
    <link type="text/css" href="css/topMenu/navigation.css" rel="stylesheet" />
    <link type="text/css" href="css/topMenu/container.css" rel="stylesheet" />
    <link type="text/css" href="css/topMenu/profile.css" rel="stylesheet" />

</head>
<body>

    <div class="block_navigation">
        <div class="name_web">
            <h2 class="name_site">Study Mates</h2>
        </div>
        <div class="tabs">
            <button class="dashboard-button">
                <span class="icon">⬛</span>
                <span class="label">Учебники</span>
            </button>
            <button class="dashboard-button">
                <span class="icon">⬛</span>
                <span class="label">Тесты</span>
            </button>
            <button class="dashboard-button">
                <span class="icon">⬛</span>
                <span class="label">Результаты</span>
            </button>
            <button class="dashboard-button">
                <span class="icon">⬛</span>
                <span class="label">Прочее</span>
            </button>

        </div>
        <div class="logout">
            <div>
                <div>logout</div>
            </div>
        </div>
    </div>

    <div class="block_info">

    </div>

    <div class="block_profile">
        <div class="profile_title">
            <div>Мой профиль</div>
            <div>edit</div>
        </div>
        <div>

        </div>

    </div>

</body>
</html>