<!DOCTYPE HTML>
<html>
<head>
    <title>StudyMates</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" href="css/topMenu/topMenu.css" rel="stylesheet" />
    <link type="text/css" href="css/topMenu/navigation.css" rel="stylesheet" />
    <link type="text/css" href="css/topMenu/container.css" rel="stylesheet" />
    <link type="text/css" href="css/topMenu/profile.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

</head>
<body>

    <div class="block_navigation">
        <div class="name_web">
            <h2 class="name_site">Study Mates</h2>
        </div>
        <div class="tabs">
            <div class="items_align">
                <button class="dashboard-button">
                    <span class="icon"><img src="images/logout.svg" height="24px"/></span>
                    <span class="label">Учебники</span>
                </button>
                <button class="dashboard-button">
                    <span class="icon"><img src="images/logout.svg" height="24px"/></span>
                    <span class="label">Тесты</span>
                </button>
                <button class="dashboard-button">
                    <span class="icon"><img src="images/logout.svg" height="24px"/></span>
                    <span class="label">Результаты</span>
                </button>
                <button class="dashboard-button">
                    <span class="icon"><img src="images/logout.svg" height="24px"/></span>
                    <span class="label">Прочее</span>
                </button>
            </div>
        </div>
        <div class="logout">
            <div class="btn_logout">
                <span class="icon"><img src="images/logout.svg" height="24px"/></span>
                <div class="text_logout">Выход</div>
            </div>
        </div>
    </div>

    <div class="block_info">

    </div>

    <div class="block_profile">
        <div class="profile_title">
            <div>Мой профиль</div>
            <div>edit</div>
        </div>
        <div class="profile-block">
            <div class="profile-header">
                <img src="https://via.placeholder.com/50" alt="Profile Picture" class="profile-picture">
                <div class="profile-info">
                    <h2>Фамилия Имя</h2>
                    <p>Администратор</p>
                </div>
            </div>
            <div class="profile-stats">
                <div class="stat">
                    <p class="stat-number">Класс</p>
                    <p class="stat-label">11 Б</p>
                </div>
                <div class="stat">
                    <p class="stat-number">Средний бал</p>
                    <p class="stat-label">9,5</p>
                </div>
            </div>
        </div>

    </div>

</body>
</html>