<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School Helper</title>
    <link type="text/css" href="css/menu.css" rel="stylesheet" />
</head>
<body>

    <div class="box">
        <ul>
            <a href="/PageBooks" style="text-decoration: none"><li>Учебники</li></a>
            <a href="/menu_sub" style="text-decoration: none"><li>Тесты</li></a>
            <a href="/menu_sub_res" style="text-decoration: none"><li>Результаты</li></a>
        </ul>
    </div>
</body>
</html>