<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School Helper</title>
    <link type="text/css" href="css/menu_sub.css" rel="stylesheet" />
</head>
<body>
<div class="box">
    <ul>
        <a href="/Results?name_sub=0JHQtdC70LDRgNGD0YHQutCw0Y8g0LzQvtCy0LA=" style="text-decoration: none"><li>Беларуская мова</li></a>
        <a href="/Results?name_sub=0JHQtdC70LDRgNGD0YHQutCw0Y8g0LvQuNGC0LDRgNCw0YLRg9GA0LA=" style="text-decoration: none"><li>Беларуская литаратура</li></a>
        <a href="/Results?name_sub=0KDRg9GB0YHQutC40Lkg0Y/Qt9GL0Lo=" style="text-decoration: none"><li>Русский язык</li></a>
        <a href="/Results?name_sub=0KDRg9GB0YHQutCw0Y8g0LvQuNGC0LXRgNCw0YLRg9GA0LA=" style="text-decoration: none"><li>Русская литература</li></a>
        <a href="/Results?name_sub=0JjRgdGC0L7RgNC40Y8g0JHQtdC70LDRgNGD0YHQuA==" style="text-decoration: none"><li>История Беларуси</li></a>
        <a href="/Results?name_sub=0JDQvdCz0LvQuNC50YHQutC40Lkg0Y/Qt9GL0Lo=" style="text-decoration: none"><li>Английский язык</li></a>
        <a href="/Results?name_sub=0J3QtdC80LXRhtC60LjQuSDRj9C30YvQug==" style="text-decoration: none"><li>Немецкий язык</li></a>
        <a href="/Results?name_sub=0KTRgNCw0L3RhtGD0LfRgdC60LjQuSDRj9C30YvQug==" style="text-decoration: none"><li>Французский язык</li></a>
        <a href="/Results?name_sub=0JzQsNGC0LXQvNCw0YLQuNC60LA=" style="text-decoration: none"><li>Математика</li></a>
        <a href="/Results?name_sub=0JjQvdGE0L7RgNC80LDRgtC40LrQsA==" style="text-decoration: none"><li>Информатика</li></a>
        <a href="/Results?name_sub=0KfQtdC70L7QstC10Log0Lgg0LzQuNGA" style="text-decoration: none"><li>Человек и мир</li></a>
        <a href="/Results?name_sub=0JLRgdC10LzQuNGA0L3QsNGPINC40YHRgtC+0YDQuNGP" style="text-decoration: none"><li>Всемирная история</li></a>
        <a href="/Results?name_sub=0J7QsdGJ0LXRgdGC0LLQvtCy0LXQtNC10L3QuNC1" style="text-decoration: none"><li>Обществоведение</li></a>
        <a href="/Results?name_sub=0JPQtdC+0LPRgNCw0YTQuNGP" style="text-decoration: none"><li>География</li></a>
        <a href="/Results?name_sub=0JHQuNC+0LvQvtCz0LjRjw==" style="text-decoration: none"><li>Биология</li></a>
        <a href="/Results?name_sub=0YTQuNC30LjQutCw" style="text-decoration: none"><li>Физика</li></a>
        <a href="/Results?name_sub=0JDRgdGC0YDQvtC90L7QvNC40Y8=" style="text-decoration: none"><li>Астрономия</li></a>
        <a href="/Results?name_sub=0KXQuNC80LjRjw==" style="text-decoration: none"><li>Химия</li></a>
        <a href="/Results?name_sub=0KLRgNGD0LTQvtCy0L7QtSDQvtCx0YPRh9C10L3QuNC1" style="text-decoration: none"><li>Трудовое обучение</li></a>
        <a href="/Results?name_sub=0JTQvtC/INC4INC80LXQtCDQv9C+0LTQs9C+0YLQvtCy0LrQsA==" style="text-decoration: none"><li>Доп и мед подготовка</li></a>
    </ul>
</div>
</body>
</html>